@media (max-width:477px){

    #cart-add{
        flex-direction: column;
       }
       #coupon{
        width: 100%;
       }
       #subtotal{
        width: 100%;
        padding: 20px;
       }



}